<style/>
        .token-box {
            float: right;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            width: 200px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
</style>